body{
    display: block;
    margin: 0vh;
   background-color: #343F4F;
}

/*FIRST SECTION*/

.first-section{
    background-color: #343F4F;
    height:68vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.dynamicf{
    margin-top: 7vh;
    position: relative;
    height:8.2vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    color:aliceblue;
    font-size: 3.8vh;
}
#head{
    position: relative;
}
#head::after{
    content:"";
    position: absolute;
    bottom:0vh;
    left:0vh;
    height:115%;
    width:100%;
    background-color:#343F4F ;
    border-left: aliceblue 3px solid;
    animation: headanim 3s steps(18) infinite forwards;
}
@keyframes headanim {
    40%, 60%{
        left:100%;
    }
    100%{
        right:100%;
    }
}
.first-div{
    margin-bottom: 4vh;
    height:auto;
    width:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.static{
    color:rgb(162, 237, 212);
    font-size: 2.7vh;
}
.dynamic{
    background-color: transparent;
    font-size:2.7vh;
}
.dynamic #type {
    margin-top:0vh;
    margin-left: 1vh;
    list-style: none;
    color:aliceblue;
}
.dynamic span{
    position: relative;
}
.dynamic span::after{
    content:"";
    color:aliceblue;
    background-color: #343F4F;
    position: absolute;
    left:0vh;
    height:100%;
    width: 100%;
    border-left: 2px solid aliceblue;
    animation: typing 3.0s steps(14) infinite forwards;
}
@keyframes typing {
    40%,60%{
        left:100%;
    }
    100%{
        right:100%;
    }
}

/*SECOND SECTION*/

.second-section{
    position:relative;
    bottom: 0vh;
    background-color: #343F4F;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.box{
    position: relative;
    margin:5vh;
    height:70vh;
    width:50vh;
    z-index: 2;
    border-radius: 4vh;
    background-color: rgba(3, 3, 4, 0.1);
    box-shadow :#A2EDD4 0vh 0vh 5vh; 
}
.input{
    color: rgb(162, 237, 212);
    text-align: center;
    text-shadow:rgb(162, 237, 212) 0vh 1vh 4vh;
    margin-top: 9vh;
    margin-left: 5vh;
    margin-bottom: 5vh;
    width:40vh;
    height:7vh;
    padding:0vh;
    background-color: transparent;
    font-size: 3vh;
    border:2px solid rgb(162, 237, 212);
    outline:none;
    border-radius: 2vh;
}
.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    transform: translateX(-1.5vh);
}
.num{
    color:#343F4F;
    font-size: 2.7vh;
    font-weight: bold;
    padding: 1.3vh;
    width:8vh;
    height:6.5vh;
    margin:1vh;
    border-radius: 1.6vh;
    border:none;
    outline: none;
}
.backf{
    color:#343F4F;
    background-color: #a4a4bd;
}
.backf:hover{
    box-shadow:#a4a4bd 0vh 0vh 3vh;
}
.backf:active{
    scale:0.9;
}
.backl{
    background-color: aliceblue;
}
.backr{
    background-color:rgb(162, 237, 212);
}
.backl:hover{
    box-shadow:aliceblue 0vh 0vh 3vh;
}
.backl:active{
    scale:0.9;
}
.backr:hover{
    box-shadow:rgb(162, 237, 212) 0vh 0vh 3vh;
}
.backr:active{
    scale:0.9;
}
